.container {
  text-align: center;
  margin-top: 50px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.character {
  width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

.pagination {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
}
